footer.flex.h-16.items-center.justify-center.border-t-2.text-sm
	a.flex.items-center.gap-2(href='github.com/probableactions/', class='hover:font-bold') 
		img.h-8.w-8(src='/images/github-mark.png', alt='')
		p created by probableactions
