include ../partials/mixins
header.flex.h-24.items-center.justify-between.bg-zinc-100.px-4.shadow-md
	a.text-2xl.font-bold(href='/') Members Only

	if currentUser
		include ../partials/profile_menu
	else
		.flex.items-center.gap-4
			+nav-link("/signup","Sign Up")
			+nav-link("/login","Login")
