include ../partials/mixins
header.min-h-24.flex.flex-wrap.items-center.justify-center.gap-4.bg-zinc-100.p-4.shadow-md(
	class='sm:justify-between'
)
	a.text-2xl.font-bold(href='/') Members Only

	if currentUser
		include ../partials/profile_menu
	else
		.flex.items-center.gap-4
			+btn-link("/signup","Sign Up")
			+btn-link("/login","Login")
