doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(defer, src='/javascripts/profile_menu.js') 
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body.flex.min-h-screen.flex-col.bg-zinc-50.text-slate-900
		include ../partials/header
		block content
		hr.shadow
		include ../partials/footer
